<div class="container">
    <h2 align = "center"><%= @article.title %></h2>
    <div class="well col-xs-8 col-xs-offset-2">
        <h4 class="center description">
            <strong>Description</strong>
        </h4>
        <hr>
        <%= simple_format(@article.description) %>
        <div class="article_action">
            <%= link_to "Edit this article", edit_article_path, class: "btn btn-primary" %>
            <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger"  %>
            <%= link_to "Back to home page", articles_path, class: "btn btn-success" %>
        </div>
    </div>
</div>